{{extend 'layoutword.html'}}
<h1>Create group</h1>
<form id="GroupDB" action="crearGrupo">
    <p>
    Group's name: <input type="text" name="nombre" id="nombre_id"/>
</p>
    <input type="hidden" id="cadena_grupos" value="{{=cadena_grupos}}" />
    <input type="hidden" value="{{=termino}}" name="termino" />
    <input type="button" value="Sumbit" onclick="AddGroup();" />
    <script>
        function AddGroup(){
            if(document.getElementById("nombre_id").value != "")
                if(document.getElementById("cadena_grupos").value.indexOf(document.getElementById("nombre_id").value) == -1){
                    document.getElementById("GroupDB").submit();
                    window.opener.location.reload();
                    window.close();
                } else
                    alert("El grupo ya existe");
            else
                alert("Ingresa el nombre del grupo");
        }
    </script>
</form>
